<div class="skills grid grid-2col">
  <div class="inlineblock-2col">
    {{#if (getSkillByName actor.items "Jack of All Trades")}}
      <label for="joat" class="flex3 resource-label">Jack of All Trades</label>
      <span class="flex1">
        <i class='fa fa-arrow-circle-down downgrade-joat downgrade-joat'></i>
        <i class="fa fa-arrow-circle-up upgrade-joat upgrade-joat"></i>
        {{numberFormat (getSkillValueByName actor.items "Jack of All Trades") decimals=0 sign=true}}
      </span>
    {{/if}}
  </div>
  <div class="inlineblock-2col inlineblock-right">
    <div class="item-controls">
      <a class="item-control item-create" title="Add custom skill" data-type="skill">
        <i class="fas fa-plus"></i> Add custom skill</a>
    </div>
  </div>
</div>
<div class="skills grid grid-2col">
  {{log actor.items}}
  {{#each actor.items as |skill key|}}
  {{#if (eq skill.type "skill")}}
    <div class="inlineblock-2col inlineblock-left skill-box">
      <div class="skill-box-name inlineblock-left">{{skill.name}}</div>
      <div class="skill-box-value">{{skill.data.value}}</div>
      <div class="skill-box-selector">
        <i class='fa fa-arrow-circle-down downgrade-joat downgrade-joat'></i>
        <i class="fa fa-arrow-circle-up upgrade-joat upgrade-joat"></i>
      </div>
    </div>
  {{/if}}
  {{/each}}
</div>
